<div class="row">
    <div class="col s12 marg-top-20">
        <mat-form-field *ngIf="!data.autocomplete && !data.fecha" class="col s10 offset-s1">
            <input #input (keydown.enter)="cerrar()" matInput [placeholder]="data.placeholder" [(ngModel)]="data.value" (focus)="onFocus($event)" >
        </mat-form-field>
        <tr-autocomplete
            *ngIf="data.autocomplete"
            clase="col s10 offset-s1"
            [placeholder]="data.placeholder"
            [(modelo)]="data"
            nombre="value"
            [busca]="data.autocomplete"
            (establecido)="cerrar($event)"
        ></tr-autocomplete>
        <tr-fecha
            *ngIf="data.fecha"
            [clase]="data.clase"
            [placeholder]="data.placeholder"
            [nombre]="data.name"
            [form]="data.form"
            (cambiaFecha)="cerrar($event)"
            [formato]="data.formato"
        ></tr-fecha>
        <tr-fecha 
            *ngElse
            clase="col s12 m2 center"
            [placeholder]="data.placeholder" 
            [(modelo)]="data"
            [nombre]="data.name"
        ></tr-fecha>
    </div>
</div> 